<!DOCTYPE html>
<html lang="{{ .Site.Language }}" dir="{{ .Language.LanguageDirection | default "auto" }}">
  <head>
    {{- partial "head.html" . -}}
  </head>
  <body>
    <div class="container">
      {{- partial "header.html" . -}}
      <main id="{{ if (( .Params.slug )) }}{{- printf "%s" $.Params.slug -}}{{- else if .IsHome }}home{{ end -}}">
      {{- block "main" . }}{{- end }}
      </main>
      {{- partial "footer.html" . -}}
    </div>
  </body>
  {{ partial "scripts.html" . }}
</html>
