<footer class="container position-fixed bottom-0 start-50 translate-middle-x">
  <label>{{ i18n "poweredby" }} <a href="https://gohugo.io/">Hugo</a></label>
  <label>© {{ .Site.Params.footer.since }} {{ .Site.Params.footer.copyright }}</label>
  <label><a href="https://codeberg.org/Fedimins/website">{{ i18n "sourcecode" }}</a></label>
</footer>