{{ $themeToggle := resources.Get "js/themeToggle.js" }}
{{ $footJS := slice $themeToggle | resources.Concat "assets/js/foot.js" | resources.Minify | resources.Fingerprint "sha512" }}
<script src="{{ $footJS.RelPermalink }}" integrity="{{ $footJS.Data.Integrity }}"></script>

<script src="/assets/vendor/bootstrap/bootstrap.bundle.min.js"></script>